# Ignore compiled Python files
*.pyc

# Ignore virtual environment directory
venv/

# Ignore log files
*.log

# Ignore secret configuration files
config_secret.yaml

# Ignore database files
db.sqlite3